# Ignore Jupyter Notebook checkpoints in all directories
**/.ipynb_checkpoints/
data_stream-oper_stepType-accum.nc
data_stream-oper_stepType-instant.nc
data_stream-wave_stepType-instant.nc

# Ignore Python cache files globally
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.env
venv/

swan4151/
swaninit
swan.exe
Errfile
norm_end
surf_data_2024.nc
GEBCO_Arugambay.nc
convlstm_final.keras
model_metadata.pkl
preprocessed_multiyear.pkl